@* Afisarea unui profil *@
@{
    ViewBag.Title = "Show";

}

@if (ViewBag.RequestReceived != null && ViewBag.RequestReceived.Status == "Neacceptata")
{

    <div>
        <p class="mt-2 text-center"> @ViewBag.Profile.FirstName @ViewBag.Profile.LastName dorește să te urmarească</p>
        <div class="d-flex align-items-center justify-content-center">
            <form method="post" action="/Requests/Accept">
                <input type="hidden" name="Id" value="@ViewBag.RequestReceived.Id" />
                <button class="btn btn-success sirbutoane" type="submit">Acceptă</button>
            </form>

            <form method="post" action="/Requests/Delete">
                <input type="hidden" name="Id" value="@ViewBag.RequestReceived.Id" />
                <button class="btn btn-danger sirbutoane" type="submit">Șterge</button>
            </form>
        </div>
    </div>
}

<br />

@if (TempData["message"] != null)
{
    <div class="alert p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}




<div class="d-flex justify-content-end">


    @if (@ViewBag.Profile.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {  
        <a class="btn btn-success custom-btn" href="/Profiles/Edit/@ViewBag.Profile.Id">Editează profil</a>
        <a class="btn btn-danger custom-btn" href="/Profiles/Delete/@ViewBag.Profile.Id">Șterge profil</a>
        
    }
</div>
<hr />

<br />

<h2 class="text-center"> @ViewBag.Profile.FirstName @ViewBag.Profile.LastName</h2>
<h5 class="text-center"> <i class="bi bi-person-circle"></i> @ViewBag.Profile.User.UserName</h5>
<br />
<br />

<div class="d-flex justify-content-center">
    @if (ViewBag.Profile.UserId != ViewBag.UserCurent && !ViewBag.EsteAdmin)
    {
        if (ViewBag.RequestSent == null)
        {
            <form method="post" action="/Requests/New">
                <input type="hidden" name="userId2" value="@ViewBag.Profile.UserId" />
                @if(ViewBag.Profile.PublicProfile==true)
                {
                    <input type="hidden" name="status" value="Acceptata" />
                }
                else
                {
                    <input type="hidden" name="status" value="Neacceptata" />
                }

                <button class="btn btn-success" type="submit">Urmărește <i class="bi bi-person-plus-fill"></i></button>
                <br />
            </form>
            
        }
        else if (ViewBag.RequestSent.Status == "Acceptata")
        {
            <form method="post" action="/Requests/Delete">
                <input type="hidden" name="Id" value="@ViewBag.RequestSent.Id" />
                <button class="btn btn-danger" type="submit">
                    Nu mai urmări <i class="bi bi-person-x-fill"></i>
                </button>
                
            </form>
        }
        else
        {
            <form method="post" action="/Requests/Delete">
                <input type="hidden" name="Id" value="@ViewBag.RequestSent.Id" />
                <button class="btn btn-danger" type="submit">Șterge cererea</button>
            </form>
        }
    }
</div>

<br />




@if (@ViewBag.Profile.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin || @ViewBag.Profile.PublicProfile == true || (ViewBag.RequestSent != null && ViewBag.RequestSent.Status == "Acceptata"))
{
    <div class="card">
        <div class="card-body">
            <div><i class="bi bi-vector-pen"></i> @ViewBag.Profile.Bio</div>
        </div>
    </div>
    <br />
   
    <br />

    @foreach (var post in @ViewBag.Posts)
    {
        <div class="card">
            <div class="card-body">
                <h3 class="card-title alert-success py-3 px-3 rounded-2"> @post.Description </h3>
                @if (@post.MediaType == "Image")
                {
                    <img src="@post.Media" alt="Imagine înglobată" width="560" style="display:block; margin:auto;">
                }
                else if (@post.MediaType == "Video")
                {
                    <iframe src="@post.Media" allowfullscreen width="560" height="315" style="display:block; margin:auto;"></iframe>
                }
                else if (@post.MediaType == "Text")
                {
                    <div class="card-text">@post.Media</div>
                }

                <div class="d-flex justify-content-between flex-row mt-5">


                    <span class="alert-success px-1 align-content-center">@post.Date</span>

                    <div class="d-flex flex-row justify-content-end">
                        <a class="btn btn-success sirbutoane" href="/Posts/Show/@post.Id">Afișează postare</a>
                        @if (@post.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                        {
                            <a class="btn btn-secondary sirbutoane" href="/Posts/Edit/@post.Id">Editează postare</a>
                            <a class="btn btn-danger sirbutoane" href="/Posts/Delete/@post.Id">Șterge postare</a>
                        }
                    </div>

                </div>
            </div>
        </div>
        <br />
    }
}
else
{
    <div><span style="background-color:#F8F0E3">Profilul lui @ViewBag.Profile.FirstName @ViewBag.Profile.LastName este privat</span> <i class="bi bi-file-lock2"></i> </div>
}


